body{
    
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center
     linear-gradient(to right, #ffb6c1, #ffc0cb);
    font-family: Arial, sans-serif;
}

.container{
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px gray;
    text-align: center;
}

h1{
    color: deeppink;
    margin-bottom:10px;

}

h2{
    color: purple;
    margin-bottom:10px;
}

h3{
    color: #444;
    margin-bottom:10px 0;
}

input{
    width: 80%;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid pink;
    margin:10px 0;
}

button{
    background: hotpink;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin:8px;
    cursor: pointer;
    transition:0.3s;
}

button:hover{
    background: deeppink;
    transform:scale(1.05);
}

.easy{
    background: green;
}

.medium{
    background: orange;
}

.hard{
    background: red;
}

#message{
    color: blue;
    font-weight: bold;
    margin-top: 10px;;
}